[submodule "aspnetcore"]
	path = aspnetcore
	url = https://github.com/dotnet/aspnetcore
[submodule "installer"]
	path = installer
	url = https://github.com/dotnet/installer
[submodule "sdk"]
	path = sdk
	url = https://github.com/dotnet/sdk
[submodule "runtime"]
	path = runtime
	url = https://github.com/dotnet/runtime
[submodule "msbuild"]
	path = msbuild
	url = https://github.com/dotnet/msbuild
