[submodule "aspnetcore"]
	path = aspnetcore
	url = https://github.com/dotnet/aspnetcore
[submodule "installer"]
	path = installer
	url = https://github.com/dotnet/installer
[submodule "sdk"]
	path = sdk
	url = https://github.com/dotnet/sdk
[submodule "runtime"]
	path = runtime
	url = https://github.com/dotnet/runtime
[submodule "msbuild"]
	path = msbuild
	url = https://github.com/dotnet/msbuild
[submodule "roslyn"]
	path = roslyn
	url = https://github.com/dotnet/roslyn
[submodule "templating"]
	path = templating
	url = https://github.com/dotnet/templating
[submodule "dotnet"]
	path = dotnet
	url = https://github.com/dotnet/dotnet.git
